
/* Font Styles */

  body{
  color: #2d2d2d;
  }
  
  p{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    max-width: 100%;
    line-height: 1.9em;
  }
  .carousel-cell p{
    color: #969696;
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
  }

  h1{
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 100;
    max-width: 100%;
    padding: 0 0 1em 0;
    text-align: center;
  }

  h1 span{
    font-weight: bold;
    font-style: normal;
    max-width: 100%;
  }

  h2{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: white;
    max-width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  h2:hover{
    color: #f5ebc6;
  }

  h3{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.3rem;
    font-weight: lighter;
    max-width: 100%;
  }

  h3 span{
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 2.7rem;
    max-width: 100%;
    display: inline-block;
    padding-top: 0.6em;
  }

  h4{
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    max-width: 100%;
    color: #e2574c;
    text-align: center;
    font-size: 1.3em;
    padding: 0.8em 0 0.8em 0;
  }

  h5{
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    max-width: 100%;
    line-height: 1.5
  }

  h5 a{
    text-decoration: underline;
  }

  a{
    text-decoration: none;
  }

  .nav-link{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: #e2574c;
    text-transform: uppercase;
  }



  .social-list a{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: white;
  }

/* Main Containers */
  *{
    box-sizing: border-box;
  }

  body{
    font-size: 16px;
  }

  .container{
    max-width: 100%;
  }

  .section-head{
    padding: 0 5%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



/* header */
  header{
    width: 100%;
    height: 125px;
    position: fixed;
    background: white;
    z-index: 10;
    margin-top:-125px;
  }

  nav{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .nav-item{
    height: 55%;
  }

  .logo{
    flex-basis: 49%;
    order: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-img{
    width: 100px;
    height: 50px;
    max-height: 90%;
    background: url(../images/aloha-logo.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    right: 15%;
  }

  .menu{
    flex-basis: 90%;
    order: 3;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: #d7d7d7 solid 1px;
    margin: 0 auto;
  }

  .menu ul{
    padding: 0 10px;
  }

  .menu li{
    padding: 0;
    margin: 0;
  }

  .nav-link:hover{
    color: #b64036;
  }

  .cart{
    flex-basis: 49%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-img{
    height: 50px;
    width: 50px;
    max-height: 95%;
    position: relative;
    background: url(../images/cart-icon.svg);
    background-size: contain;
    left: 25%;
    display: flex;
    justify-content: flex-end;
  }

  .cart-number{
    display: none;
    background: #e2574c;
    color: white;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    width: 15px;
    height: 15px;
    font-weight: 800;
    font-size: 0.6rem;
    border-radius: 50%;
    text-align: center;
  }

  .hero-banner{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
      url(../images/banner-girl.png), 
      url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: center, 50% bottom, center;
    background-size: cover, 180px, cover;
    margin-top: 125px;
  }


/* Styles Section */
  .styles{
    text-align: center;
    min-height: 100vh;
  }

  .styles-flex{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .styles-menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 49.9%;
    height: 50vh;
  }

  .styles-item{
    border: 0.2em solid white;
    flex-basis: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mens, .womens{
    flex-basis: 100%;
    border-left: none;
    border-right: none;
  }

  .mens{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/mens-category.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .trends{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/trends-category.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-left: none;
  }

  .glasses{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/glasses-category.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: none;
  }

  .sale{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/sale-category.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-left: none;
  }

  .bags{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bags-category.jpg);
    background-position: right bottom 20%;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: none;
  }

  .womens{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/womens-category.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
  }


/* products */
  .main-carousel{
    min-height: 500px;
    padding: 20px 0;
  }  
/* Flickity Carousel Styling */
  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .carousel-cell {
    width: 100%; 
    min-height: 500px; 
    margin-right: 10px;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .flickity-prev-next-button:hover { background: white; }
  
  .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
  }
  
  .flickity-prev-next-button:active {
    opacity: 0.6;
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
  }
  
  .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  .flickity-prev-next-button .arrow {
    fill: #333;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots { direction: rtl; }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }
  
  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }

  /* other product styling */
  .add-to-cart a{
    text-decoration: none;
    color: white;
  }

  .add-to-cart{
    display: block;
    height: 25px;
    padding: 0 1.5em 0 1.5em;
    border-radius: 30px;
    background: #2d2d2d;
    color: white;
    text-align: center;
    margin: 0 auto;
    border: none;
    font-size: 0.7em;
    margin-top: 1em;
  }

  .add-to-cart:hover{
    background: #0f87a2;
  }

  .carousel-cell img{
    display: block;
    margin: 0 auto;
  }
/* updates section */
  .updates{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg);
    background-position: center, center bottom;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
    min-height: 50vh;
  }

  .updates h1{
    padding-top: 1rem;
    text-shadow: 1px 1px 4px #2d2d2d;
  }

  .updates p{
    text-shadow: 1px 1px 4px #2d2d2d;
  }

  .email-form{
    width: 90%;
    padding: 2em 0;
    position: relative;
  }
  .email-input{
    width: 100%;
    height: 2.5em;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    padding: 1.7em 1em;
  }

  .email-button{
    background: #e2574c;
    color: white;
    border-radius: 30px;
    height: 2.5em;
    padding: 0 2em;
    position: absolute;
    top: 2.08rem;
    right: 0.2rem;
    font-size: 0.85em;
    border: none;
  }

  input::placeholder{
    color: #969696;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
  }

/* Footer Section */
  footer{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    background:#242424;
  }

  .copyright, .address{
    text-align: center;
    padding: 5px;
  }

  .address{
    color: #969696;
  }

  ul{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }

  .social-list{
    text-decoration: none;
    padding: 1em 1em;
  }
  
  .social-link:hover{
    color: #e2574c
  }

  .social-link i:hover{
    color: #e2574c
  }

  .social-text{
    display: none;
  }

  i{
    color: white;
  }

  .contact-email:hover{
    color: #e2574c;
  }

/* media queries */
  @media all and (min-width: 600px){
    /* main containers */
      .section-head{
        width: 100%;
        padding: 0 15%;
      }
    /* font styles*/
      h1{
        font-size: 2.3rem;
      }

      h2{
        font-size: 2em;
      }

      h3 span{
        font-size: 4rem;
        padding-top: 0.2em;
      }
    /* header */
      header{
        height: 70px;
        margin-top: -70px;
      }
      nav{
        justify-content: space-between;
        align-items: center;
      }
      
      .nav-item{
        height: 100%;
      }
      
      .logo{
        flex-basis: 25%;
        order: 1;
      }

      .logo img{
        width: 70%;
        max-width: 100px;
      }
      
      .menu{
        flex-basis: 49%;
        order: 2;
        max-width: 50%;
        border-top:none;
        justify-content: center;
      }

      .menu li{
        padding: 0 20px;
      }

      .cart{
        flex-basis: 25%;
        order: 3;
      }

      .hero-banner{
        margin-top: 70px;

      }

    /* Styles Menu*/
      .styles-flex{
        height: 60vh;
      }

      .styles-item{
        flex-basis: 25%;
      }
      
      .mens, .womens{
        flex-basis: 50%;
      }

      .mens{
        border-right: 0.2em solid white;
      }
    
      .trends{
        border-left: 0.2em solid white;
      }
    
      .glasses{

      }
    
      .sale{

      }
    
      .bags{
        border-right: 0.2em solid white;
      }
    
      .womens{
        border-left: 0.2em solid white;
      }

    /* Products */
      .products-section{
        
      }
      .products-container{
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 60vh;
      }

      .product{
        flex-basis: 50%;
        max-height: 50%;
      }

      .carousel-cell {
        width: 50%; 
      }


    
    /* updates */
      .email-form{
        width: 400px;
      }
    
      .email-button{
        top: 2.08rem;
        right: 0.1rem;
      }

    /* footer */
      footer{
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
      }

      .footer-text{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .copyright, .address{
        text-align: left;
        padding: 10px 20px;
      }

      .social-box{
        flex-basis: 30%;
        display: flex;
        align-content: center;
        justify-content: flex-end;
      }
      
      ul{
        flex-direction: column;
        justify-content: center;
      }
      
      .social-box li{
      padding: 0.4em 1em;
      width: auto;
      }

      .social-text{
      display: inline-block;
      padding: 0 1em 0 0.7em;
      }

  }




  @media all and (min-width: 1240px){
    /* top nav  */
      .menu{
        padding: 10%;
      }
    /* Styles menu */
      .styles{
        height: auto;
      }
      .styles-flex{
        height: 40vh;
      }

    /* productS */
      .products-container{
        flex-wrap: nowrap;
      }
      .product{
        flex-basis: 25%;
      }

      .carousel-cell {
        width: 25%; 
      }

    /* updates */
      .updates{
        background-size: cover;
      }
      input{
        width: 50%;
      }

    /* footer */
      .footer-text{
        padding-left: 100px;
      }

      .social-box{
        padding-right: 100px;
      }
  }
